.button {
  background-color: rgb(221, 221, 221);
  color: rgb(60, 60, 60);
  border: solid  rgb(221, 221, 221);
  padding: 15%;
}

.button:hover {
  background-color: #eee;
  color: rgb(60, 60, 60);
  border: solid 1px rgb(60, 60, 60);
}

.button:disabled {
  background-color: #fff;
  color: #2c7cff;
  border: solid 1px #2c7cff;
}
