.button {
  background-color: #fff;
  color: #00f;
  border: solid 1px #00f;
  padding: 6px 12px 6px 12px;
  border-radius: 5px;
}

.button:hover {
  background-color: #eee;
  color: #00e;
  border: solid 1px #00e;
}

.button:disabled {
  background-color: #fff;
  color: #2c7cff;
  border: solid 1px #2c7cff;
}
