.cross-layout {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
}


.position-front {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.position-center{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.position-left {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.position-right {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.position-back {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}


.front-key{
    size: 15px;
    width: 25px;
    height: 25px;
    padding: 35;
    margin: 0;
}

.center-key{
    size: 15px;
    width: 15px;
    height: 15px;
    margin: 0;
}

.left-key{
    size: 15px;
    width: 15px;
    height: 15px;
    margin: 0;
    transform: rotate(-90deg);
}

.right-key{
    size: 15px;
    width: 15px;
    height: 15px;
    margin: 0;
    transform: rotate(90deg);
}

.back-key{
    size: 15px;
    width: 15px;
    height: 15px;
    margin: 0;
}
